body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.cta {
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  background: #57BB6B;
  border-radius: 15px;
  text-decoration: none;
  font-family: 'Maven Pro';
  font-size: 15pt;
}

h2 {
  font-family: 'Maven Pro';
  font-size: 22pt;
}

.container-img {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-img img {
  width: 27px;
}

header {
  padding: 30px;
  background: url(../img/bg-fruit.png);
  background-size: cover;
  border-top: 7px solid #57BB6B;
  text-align: center;
}

header .box-titel {
  padding: 35px 40px;
  background: rgba(255, 255, 255, 0.90);
  font-family:'Quattrocento';
  font-size: 14pt;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .cta-light {
  background: #fff;
  color: #57BB6B;
}

main .section-intro {
  padding: 50px;
  background: #fff;
  text-align: center;
  font-family: 'Quattrocento';
}

main .section-produit {
  padding: 30px;
  color: #fff;
  background: #57BB6B;
  text-align: center;
}

main .section-produit .card {
  margin: 30px 0 0 0;
  padding: 20px;
  color: black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: #00000070 0px 0px 16px;
}

main .section-produit .card h3 {
  margin: 10px 0 0 0;
  font-family: 'Sriracha';
  font-size: 25pt;
}

main .section-produit .card p {
  margin: 0px;
  font-family: 'Quattrocento';
  font-size: 18px;
  opacity: 0.5;
}

main .section-produit .card a{
  font-family: 'Maven Pro';
  font-weight: bold;
  color: black;
}

main .section-produit .card img {
  margin-top: 40px ;
  width: 80px;
}

main .section-produit .card .img-transform {
  transform: scaleX(-1);
}

main .section-produit .card-yellow {
  background: #FFF8D7;
}

main .section-produit .card-green {
  background: #C4F2AD;
}

main .section-produit .card-brown {
  background: #D3C6B2;
}

main .section-produit .card-pink {
  background: #F7A4B4;
}

main .section-contact {
  padding: 50px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  background: #fff;
  padding: 5px;
}